
h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(20, 23, 51);
    font-family: 'Special Elite', cursive;
   
}
.heading-primary {
    font-size: 3em;
}
.heading-primary-sub {
    font-size: .55em;
}
.nick {
    padding-top: 1%;
    width: 100%;
    opacity: 0.5;
    border-radius: 0px 90px;
}
.video-container {
    text-align: center;
}
